body {
  font: 14px;
  margin: 20px;
  font-family: Arial;
}

ol, ul {
  padding-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
